@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Prata&display=swap');

$colorfond: black ;
$prata: 'Prata', serif;
$montserrat: 'Montserrat', sans-serif;
$colorjaune: #F5BB3D ;
